Source: python-ansicolors
Section: python
Priority: extra
Maintainer: Nikos Skalkotos <skalkoto@grnet.gr>
Build-Depends: debhelper (>= 8.0.0), python, python-setuptools
Standards-Version: 3.9.3
Homepage: https://github.com/verigak/colors
Vcs-Browser: https://github.com/verigak/colors
Vcs-Git: https://github.com/verigak/colors.git
X-Python-Version: >= 2.6

Package: python-ansicolors
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 ${python:Depends},
Provides: ${python:Provides}
Description: ANSI colors for python
 A simple module to add ANSI colors and decorations to your strings.

